<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmvmbCO1ApUOPsczG7TO0v-e9M1pcT7rA</string>
	<key>GCM_SENDER_ID</key>
	<string>713380258131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demakk.wallpaper</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-1bd71</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-1bd71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713380258131:ios:222664743a948cd7ee41a6</string>
</dict>
</plist>